.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingContainer .loading {
  max-width: 50%;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.loadingContainer .loadWords {
  font-weight: normal;
  font-size: 0.9rem;
  color: rgba(189, 189, 189, 1);
  margin: 0.6rem 0 2rem 0;
  display: block;
}

.loadingContainer .loading__anim {
  width: 35px;
  height: 35px;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  border-radius: 50%;
  display: inline-block;
  animation: rotate 600ms infinite linear;
}
svg {
  cursor: pointer;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
.up {
  animation: up 0.3s ease-in forwards;
}
@keyframes up {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}
